<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
      <style>
	.block_size{ padding-right:1em; }
      </style>
    </head>
    <body>
        <div>
	Microblog: 
	<a href="{{url_for('index')}}" class = "block_size">Home</a>
	<a href="{{url_for('explore')}}" class = "block_size">Explore</a>
	{% if current_user.is_anonymous %}
	<a href = "{{url_for('login')}}" class = "block_size">Log In</a>
	{% else %}
	<a href = "{{url_for('user', username = current_user.username)}}" class = "block_size"> Profile </a>
	<a href = "{{url_for('logout')}}" class = "block_size">Log Out</a>
	{% endif %}
	{% if user == current_user %}
	<a href = "{{url_for('edit_profile')}}" class = "block_size"> Edit Profile</a>
	{% endif %}
	</div>
        <hr> 
        {% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{message}} </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
    </body>
</html>
